# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
